/* 1REM = 1 EM = 16px */

/* A PARTIR DE 1344px [LAPTOPS, PANTALLAS VIEJAS]*/
@media(max-width: 84em) {
    /* NAVIGATION */
    header {
        height: 7rem;
    }

    .header-nav-link:link,
    .header-nav-link:visited {
        font-size: 1.6rem;
    }

    /* HERO */
    .hero {
        max-width: 100rem;
    }

    .hero-uppertext {
        font-size: 1rem;
    }

    .hero-text {
        font-size: 2.2rem;
    }

    .hero-cta {
        font-size: 1.4rem;
        padding: 1rem 2.2rem;
    }

    /* PRODUCTS */
    .product-header {
        padding: 2rem 2rem 3rem 2rem;
    }

    .product-link:link,
    .product-link:visited {
        font-size: 1.6rem;
    }

    .slide-container {
        max-width: 100rem;
    }

    /* COLLECTION */
    .collection {
        max-width: 100rem;
    }

    .col-uppertext {
        font-size: 1rem;
    }

    .col-text {
        font-size: 2.2rem;
    }

    /* .col-cta {
        
    } */

    

    
}

/* A PARTIR DE 1200px [TABLETS, PANTALLAS MEDIANAS]*/
@media(max-width: 75em) {
    /* NAVIGATION */
    header {
        height: 6rem;
    }

    .header-nav-link:link,
    .header-nav-link:visited {
        font-size: 1.4rem;
    }

    /* HERO */
    .hero {
        max-width: 85rem;
    }
    
    .hero-uppertext {
        font-size: 1rem;
    }

    .hero-text {
        font-size: 1.8rem;
    }

    .hero-cta {
        font-size: 1.1rem;
        padding: 0.8rem 2rem;
    }
    
    /* PRODUCTS */
    .product-link:link,
    .product-link:visited {
        font-size: 1.4rem;
    }

    .slide-container {
        max-width: 85rem;
    }

    /* COLLECTION */
    .collection {
        max-width: 85rem;
    }

    .col-uppertext {
        font-size: 0.8rem; /* EXC */
    }

    .col-text {
        font-size: 1.8rem;
    }

    .col-cta {
        font-size: 1.1rem;
        padding: 0.8rem 2rem;
    }

    
}

/* A PARTIR DE 944PX (TABLETS, PANTALLAS PEQUEÑAS) */
@media(max-width: 59em) {
    /* NAVIGATION */
    header {
        height: 5rem;
    }

    .header-nav-link:link,
    .header-nav-link:visited {
        font-size: 1.2rem;
    }

    /* HERO */
    .hero {
        max-width: 70rem;
    }

    .hero-uppertext {
        font-size: 0.8rem;
    }

    .hero-text {
        font-size: 1.4rem;
    }

    .hero-cta {
        font-size: 0.9rem;
        padding: 0.7rem 1.5rem;
        border-radius: 6px;
    }

    /* PRODUCTS */
    .product-link:link,
    .product-link:visited {
        font-size: 1.2rem;
    }

    .slide-container {
        max-width: 70rem;
    }

    /* COLLECTION */
    .collection {
        max-width: 70rem;
    }

    .col-uppertext {
        font-size: 0.8rem;
    }

    .col-text {
        font-size: 1.4rem;
    }

    .col-cta {
        font-size: 0.9rem;
        padding: 0.7rem 1.5rem;
        border-radius: 6px;
    }
    
}

/* A PARTIR DE 704PX (704/16=44em) [tablets pequeñas] */
@media(max-width: 44em) {

}

/* CELULARES 544px */
@media (max-width: 34em) {

}