{% load static %}
<div class="foot">
  <div class="contacto">
    <img class="foot-img" src="{% static 'img/nav-logo.png' %}" />
    <a href="https://www.instagram.com/distradaa/" target="_blank">
      <img class="media-logo" src="{% static 'img/ig-logo.png' %}" />
    </a>
    <a href="https://www.instagram.com/distradaa/" target="_blank">
      <img class="media-logo" src="{% static 'img/tiktok-logo.png' %}" />
    </a>
    <a href="https://www.instagram.com/distradaa/" target="_blank">
      <img class="media-logo" src="{% static 'img/wsp-logo.png' %}" />
    </a>
  </div>

  <h2>distrada.com.ar © 2025 | Creado por @manuualv</h2>
</div>
