{% load static %} {% for producto in productos %}
<article class="product_card hidden">
  <button class="product_closebtn">&times;</button>
  <div class="product_img">
    <img class="product_img_real" src="{% static 'img/shirt-black.png' %}" />
  </div>
  <div class="product_info">
    <div class="product_title">Remera DISTRADA Negra</div>
    <div class="product_desc">100% algodón</div>
    <div class="product_price">$ 9999</div>
    <p class="product_uppertext">COLOR</p>
    <div class="product_colors">
      <button class="product_btn selected">Negro</button>
      <button class="product_btn">Rojo</button>
      <button class="product_btn">Gris</button>
    </div>
    <p class="product_uppertext">TALLES</p>
    <div class="product_sizes">
      <button class="product_btn selected">S</button>
      <button class="product_btn">M</button>
      <button class="product_btn">L</button>
    </div>
    <button
      data-product="{{producto.id}}"
      data-action="add"
      class="product_cta btn-outline-secondary add-btn update-cart"
    >
      AÑADIR AL CARRITO
    </button>
  </div>
</article>
{% empty %}
<p>NO HAY PRODUCTOS DISPONIBLES</p>
{% endfor %}
